<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/static/chat.css" />
</head>

<body>
    <div id="nav">
        <div id="greet" class="navitems">Hello, <%= user.name %> !</div>
        <button id="logout" class="navitems"> Log out</button>
        <div class="dandi" id="first"></div>
        <div id="email"> Emails </div>
        <div class="dandi"></div>
        <div class="pages" id="faq"> FAQ </div>
        <div class="dandi"></div>
        <div class="pages" id="resource">Resource</div>
        <div class="dandi"></div>
        <div class="pages" id="lost">Lost & Found</div>
        <div class="dandi"></div>
    </div>
    <form action="/send/<%=question._id%>" method="POST" id="send">
        <label>message</label>
        <input name="textfield" type="text" id="ip" />
        <button type="submit">Submit</button>
    </form>
    <div id="qt">
        <div id="inner">
            <span id="head">
                <%= question.text %>
            </span>
            <span id="who"> asked by :- <%= question.name %></span>
        </div>
    </div>
    <div id="cover">
        <div id="content">
            <% for(let i=0; i < messages.length; ++i){ %>
                <div class="odd">
                    <p class="name">
                        <%=messages[i].name%>
                    </p>
                    <p>
                        <%=messages[i].text%>
                    </p>
                </div>
                <%++i;%>
                    <% if(i < messages.length){%>
                        <div class="even">
                            <p class="name">
                                <%=messages[i].name%>
                            </p>
                            <p>
                                <%=messages[i].text%>
                            </p>
                        </div>
                        <%}%>

                            <% } %>
        </div>

        <div></div>
    </div>
    <script src="/static/chat.js"></script>
    <script>
        const socket = io();
        const questionId = '<%= question._id %>';
        socket.emit('join-room', questionId);
        socket.on('message', (newMessage) => {
            const messageDiv = document.getElementById('content');
            const newMessageElement = document.createElement('p');
            newMessageElement.textContent = newMessage.text;
            messageDiv.appendChild(newMessageElement);
        });
    </script>
</body>

</html>